VITE_API_BASE_URL="http://localhost:8000/api/v1"
VITE_APP_TITLE="Agentic RAG Assistant"

# Firebase Credentials
VITE_FIREBASE_API_KEY="AIzaSyCtnoD9QFk1yzhOmFc-KCMAWOKddr8S0KA"
VITE_FIREBASE_AUTH_DOMAIN="agentic-rag-assistant-11e0b.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="agentic-rag-assistant-11e0b"
VITE_FIREBASE_STORAGE_BUCKET="agentic-rag-assistant-11e0b.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="122405499317"
VITE_FIREBASE_APP_ID="1:122405499317:web:649fa53ee2c1afae6429fc"
VITE_FIREBASE_MEASUREMENT_ID="G-ETVFKXFP8E"
